<div class="container py-4">
    <h1>Mi primer proyecto Angular</h1>
    <div class="h5">Poewred by: {{ title }}</div>
    <hr>

    <div class="d-flex flex-row  justify-content-between p-2">
        <button type="button" class="btn btn-secondary" (click)="increse()"
            [disabled]="counter === 5">Incrementar</button>
        <h3>{{ counter }}</h3>
        <button type="button" class="btn btn-secondary" (click)="decrese()"
            [disabled]="counter === 0">Decrementar</button>
    </div>

    <div *ngIf="message" class="alert alert-warning" role="alert">
        {{ message }}
    </div>
</div>

<app-task></app-task>